body {
    background: #000000;
    scroll-behavior: smooth;
    font-family: 'Merriweather Sans', sans-serif;
    color: #eeeeee;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
}

::selection {
    background-color: #1e90ff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background: #1e90ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5% 10px 5%;
    z-index: 1;
    position: fixed;
    width: 100%;
}

h1 {
    font-size: 36px;
    font-family: 'Merriweather Sans', sans-serif;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
}

.option {
    color: black;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    padding: 11px 25px;
    background-color: #1e90ff;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin: 0px 5px;
}

.option:hover {
    background-color: #000000;
    color: #eeeeee;
}

.standout {
    background-color: #eeeeee;
    color: #000000;
}

.standout:hover {
    background-color: #000000;
    color: #eeeeee;
}

.button {
    color: black;
    text-decoration: none;
    font-weight: 700;
    padding: 9px 21px;
    background-color: #eeeeee;
    border: none;
    border-radius: 12px;
    transition: all 0.3s ease 0s;
    margin: 0px 5px;
}

.button:hover {
    background-color: #1e90ff;
}

.buttonholder {
    margin: 5px 0px 19px 0px;
}

a {
    text-decoration: none;
    color: black;
}

button {
    font-family: 'Merriweather Sans', sans-serif;
}

ul {
    list-style: none;
}

.initgap {
    height: 85px;
}

h2 {
    font-size: 64px;
    text-align: center;
    color: #eeeeee;
}

h3 {
    font-size: 52px;
    text-align: center;
    color: #eeeeee;
}

p {
    font-size: 18px;
    text-align: center;
    width: 60%;
    max-width: 750px;
    margin: auto;
    margin-top: 0;
    padding-bottom: 15px;
}

.dropdown-content {
    display: none;
    position: absolute;
    margin: 50px 0px 0px 0px;
    z-index: 1;
    justify-content: right;
    
}

.show {
    display:block;
}

.dropdown-gap {
    height: 30px;
}

.dropdown a {
    padding: 18px 10px 0px 10px;
}

.dropdown a:hover {
    background-color: #eeeeee;
    color: #000000;
}

.email {
    background-color: #1e90ff;
}

.linkedin {
    background-color: #0077b5;
}

.github {
    background-color: #333333;
    color: #eeeeee;
}

.youtube {
    margin: 0px 0px 10px 0px;
    background-color: #232323;
}
