/* General */

html {
    font-family: 'Lexend Deca', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

::-moz-selection {
    background: #1e90ff;
    color: #ffffff;
}

::selection {
    background: #1e90ff;
    color: #ffffff;
}

body {
    background: #ffffff;
    color: #000000;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 18px;
    text-decoration: none;
    text-align: left;
}

h1 {
    font-size: 70px;
    font-weight: 600;
}

h2 {
    font-size: 40px;
    font-weight: 600;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    width: 80vw;
    height: 50vw;
    max-width: 1920px;
    max-height: 100vh;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* Top Block */

.top_block {
    height: 15%;
}

.title_block {
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    float: left;
}

.home {
    margin-left: 10px;
    border-style: solid;
    border-width: 0;
    border-bottom-width: 5px;
    border-color: #1e90ff;
}

.home h2 {
    font-size: 40px;
    font-weight: 600;
    cursor: pointer;
}

.social {
    float: right;
}

.social_link {
    display: inline-block;
    height: 30px;
    width: 30px;
    margin-right: 20px;
}

.social_image {
    max-height: 30px;
    max-width: 30px;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.social_link:hover {
    border-style: solid;
    border-width: 0;
    border-bottom-width: 5px;
    border-color: #1e90ff;
    margin-bottom: -12px;
}

/* Middle Blocks */

.pfp {
    height: 10vw;
    border-radius: 50%;
}

.middle_block {
    height: 77%;
}

.content_block {
    float: left;
    height: 100%;
}

.left {
    width: 70%;
    padding-left: 100px;
    padding-top: 2vw;
}

.right {
    width: 30%;
    padding-right: 50px;
    padding-top: 7vw;
}

#home_content {
    display: block;
    padding-top: 3vw;
}

#tic_tac_toe_content {
    display: none;
}

#lunar_lander_content {
    display: none;
}

#arcade_content {
    display: none;
}

#timer_content {
    display: none;
}

#whiteboard_content {
    display: none;
}

.video_alt {
    position: absolute;
    z-index: 1;
}

.video iframe {
    position: relative;
    z-index: 2;
    width: 35.56vw;
    height: 20vw;
}

.tool {
    margin-top: 10px;
    margin-right: 5px;
    max-height: 40px;
}

.content_desc {
    margin-top: 10px;
    border-style: solid;
    border-width: 0;
    border-left-width: 5px;
    border-color: #1e90ff;
    padding-left: 20px;
    padding-right: 75px;
}

.projects_list {
    width: 50%;
    margin-top: 10px;
    border-style: solid;
    border-width: 0;
    border-top-width: 5px;
    border-color: #1e90ff;
}

.projects_list li {
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: padding 0.3s ease;
    user-select: none;
    -moz-user-select: none;
}

.projects_list li:hover {
    padding-left: 10px;
    transition: padding 0.3s ease;
}

/* Bottom Block */

.bottom_block {
    height: 8%;
}

.mode_switch {
    height: 40px;
    width: 40px;
    margin-right: 10px;
    float: right;
    cursor: pointer;
}

/* Buttons */

.button_holder {
    margin: 15px auto;
    text-align: center;
}

.button {
    margin: 0px 5px;
    padding: 9px 13px;
    border: none;
    border-radius: 10px;
    background: #1e90ff;
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    user-select: none;
    float: left;
    cursor: pointer;
}

.dark_button:hover {
    background: #ffffff;
    color: #000000;
}

.light_button:hover {
    background: #000000;
    color: #ffffff;
}